<?xml version='1.0' encoding='utf-8'?>
<widget id="com.app.GoodBetter" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Plant Tech</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
	<preference name="Orientation" value="portrait" />
	<!--<preference name="Fullscreen" value="true" />-->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="And_icon/ldpi.png" density="ldpi" />
        <icon src="And_icon/mdpi.png" density="mdpi" />
        <icon src="And_icon/hdpi.png" density="hdpi" />
        <icon src="And_icon/xhdpi.png" density="xhdpi" />

        <splash src="And_icon/splash.png" density="port-hdpi"/>
        <splash src="And_icon/splash.png" density="port-ldpi"/>
        <splash src="And_icon/splash.png" density="port-mdpi"/>
        <splash src="And_icon/splash.png" density="port-xhdpi"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" /> <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="Ios_icon/icon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="Ios_icon/icon-60.png" width="60" height="60" />
        <icon src="Ios_icon/icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="Ios_icon/icon-76.png" width="76" height="76" />
        <icon src="Ios_icon/icon-76@2x.png" width="152" height="152" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="Ios_icon/icon-40.png" width="40" height="40" />
        <icon src="Ios_icon/icon-40@2x.png" width="80" height="80" />
        <!-- iPhone / iPod Touch -->
        <icon src="Ios_icon/icon.png" width="57" height="57" />
        <icon src="Ios_icon/icon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="Ios_icon/icon-72.png" width="72" height="72" />
        <icon src="Ios_icon//icon-72@2x.png" width="144" height="144" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="Ios_icon/icon-small.png" width="29" height="29" />
        <icon src="Ios_icon/icon-small@2x.png" width="58" height="58" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="Ios_icon/icon-50.png" width="50" height="50" />
        <icon src="Ios_icon/icon-50@2x.png" width="100" height="100" />


        <splash src="Ios_splash/Non-Retina.png" width="320" height="480"/>
        <splash src="Ios_splash/Retina.png" width="640" height="960"/>
        <splash src="Ios_splash/Tablet (iPad).pngg" width="768" height="1024"/>
        <splash src="Ios_splash/Retina (2x).png" width="1536" height="2048"/>
        <splash src="Ios_splash/iPhone 5 Retina.png" width="640" height="1136"/>
        <splash src="Ios_splash/iPhone 6.png" width="750" height="1334"/>
        <splash src="Ios_splash/iPhone 6 Plus.png" width="1242" height="2208"/>
    </platform>
    <engine name="ios" spec="^3.9.0" />


</widget>
